<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" th:fragment="admin(content)" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<body>
<div th:fragment="sidebar">
  <nav id="sidebar" >
    <div class="sidebar-header">
      <h3>Admin Panel</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Hello :<span th:text ="${#authentication.getPrincipal().getUsername()}"></span></p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Create Form</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#" th:href="@{/admin/author}">Author</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/book}">Book</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/category}">Category</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/customer/create}">Customer</a>
          </li>
          <li><a href="" th:href="@{/admin/sellbook}">Sell Book</a></li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Update/Delete/Lists</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#" th:href="@{/admin/author/all}">Author List</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/sellbook/all}">Book List</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/category/all}">Category List</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/customer-buy-list}">Purchase List</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>

    </ul>

    <ul class="list-unstyled CTAs">
      <li sec:authorize="isAuthenticated()">
        <a href="#" th:href="@{/logout}" class="download">Log Out</a>
      </li>
      <li>
        <a  class="article">Back to article</a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>